@import "./utils/variable";
@import "./utils/map";
@import "./utils/mixin";
@import "./base/police";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/form";
@import "./layout/menuepage";
@import "./composants/button";
@import "./composants/annim";
@import "./pages/vignindex";
@import "./pages/vignmenue";

body{
    margin:0;
}
.title{
    display: flex;
    flex-direction: column;
    background-color: map-get($color, color-bg);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 57px;
    margin-bottom: 55px;
    &--police{
        padding-right: 15%;
        padding-left: 15%;
        margin-bottom: 8px;
    }
    &--police2{
        margin-bottom: 28px;
    }
    .subtitle{
        font-family: 'Roboto';
        font-weight: 100;
        margin-top: 8px;
        margin-bottom: 37px;
        padding: 0px 20px;
    }
}




.menue{
    padding-bottom: 30px;
}

