@mixin box-shadow {
    box-shadow: 0px 5px 7px $color-gray, 0px 0px 0px $color-gray;
    &:hover{
        box-shadow: 0px 8px 7px $color-gray, 0px 0px 0px $color-gray;
    }
}
@mixin heart-hover{
& .far:hover{
    transition-duration: 5s;
    font-weight: 900;
    color: map-get($color, color-primary);
}
}
@mixin check {
    .vignmenue__annim{
    width: 55%;
    background-color: $color-tertiaire;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 13px 13px 0;
    color: $color-white;
        & i{
            color: $color-white;
            opacity: 1;
            font-size: 20px;
            transform: rotate(0deg);
        }
    }
}
@mixin font-roboto-500{
    font-family: 'Roboto';
    font-weight: 500;
}
@mixin min-width-700px {
    @media (min-width: 700px) { @content; }
}