$color-primary: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
$color-bg-form: #e5e5e5;
$color-bg: #f1efef;
$color-bs: #8080804a;
$color-bg-footer: #000000d4;
$color-black: black;
$color-gray: gray;
$color-white: white;