.resto{
    background-color: map-get($color, color-bg);
    margin-top: 70px;
    padding-top: 31px;
    padding-bottom: 45px;
        & a{
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: $color-black;
            & .vignindex{
                width: 90%;
                height: 250px;
                display: flex;
                flex-direction: column;
                border-radius: 12px;
                margin-bottom: 20px;
                @include box-shadow;
                & img{
                    width: 100%;
                    height: 70%;
                    -o-object-fit: cover;
                       object-fit: cover;
                    border-top-right-radius: 12px;
                    border-top-left-radius: 12px;
                }
                &__position1{
                    -o-object-position: bottom;
                       object-position: bottom;
                    }
                &__position2{
                    -o-object-position: 0 62%;
                       object-position: 0 62%;
                }
                &__desc{
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    height: 30%;
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                    background: $color-white;
                }
                & .text{
                    width: 100%;
                    padding-left: 15px;
                    & h2{
                        margin-bottom: 7px;
                    }
                    & h3{
                        margin-top: 6px;
                    }
                }
                &__heart{
                    display: flex;
                    align-items: center;
                    padding-right: 10px;
                    font-size: 25px;
                    @include heart-hover;
                }
            }
        }
    & .news{
        display: flex;
        position: absolute;
        padding: 6px 13px;
        background: $color-tertiaire;
        align-self: flex-end;
        justify-content: center;
        font-size: 14px;
        border-radius: 3px;
        color: darken($color-tertiaire, 40%);
        margin: 10px 10px;
        @include font-roboto-500;
    }
}