/* pink button*/
.btn{
    width: 60%;
    text-align: center;
    border: none;
    border-radius: 50px;
    padding: 15px;
    @include box-shadow;
    background: linear-gradient(map-get($color, color-secondaire), darken($color-primary, 20%)); 
    align-self: center;
    font-size: 15px;
    color: $color-white;
    position: relative;
    margin: 0px 15%;
    @include font-roboto-500;
    &:hover{
        background: linear-gradient(map-get($color, color-secondaire), darken($color-primary, 10%));
    }
    & a{
        color: $color-white;
    }
}
/*button fonctionnement*/
a{
    text-decoration: none;
        & .etape__btn{
            width: 97%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            height: 75px;
                &:hover{
                    i{
                        color: map-get($color, color-primary);
                    }
                }
                &--nomber{
                    border-radius: 100%;
                    background: map-get($color, color-primary);
                    height: 33%;
                    width: 22.5px;
                    color: $color-white;
                    font-family: "Roboto";
                    position: relative;
                    left: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                }
                &__select{
                    display: flex;
                    width: 90%;
                    align-items: center;
                    background-color: map-get($color, color-bg );
                    border-radius: 20px;
                    @include box-shadow;
                    height: 100%;
                    &:hover{
                        background-color: lighten($color-primary, 35%);
                        
                    }
                }
                & i{
                    font-size: 20px;
                    color: $color-gray;
                    margin: 0px 30px 0px 40px;
                }
                &__title{
                    @include font-roboto-500;
                    font-size: 16px;
                    color: $color-black;
                    block-size: 46px;
                    display: flex;
                    align-items: center;
                }
        }
}