.form{
    width: 100%;
    box-shadow: 0 5px 4px -2px #8080804a inset;
    background-color: #8080802b;

    &__search{
        display: flex;
        width: 100%;
        justify-content: center;
        height: 100%;
        align-items: center;
    }
    form{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;

        i{
            width: 29%;
            padding-right: 15px;
            font-size: 16px;
            position: relative;
            text-align: end;
            align-self: center;
            left: 10px;
            bottom: 2px;
        }
        input{
            width: 68%;
            border: none;
            padding-left: 3%;
            background-color: transparent;
            font-size: 16px;
            block-size: 50px;
            outline: none;
        }
    }
}